.testimonial-img {
    width: 28.25rem;
    height: 35rem;
    flex-shrink: 0;
}
.testimonial{
 justify-content: space-between;
height: 35rem;
width: 100%;
 
}
.testimonial-detail{
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    gap: 2rem;
}
.testimonial-detail p{
    color:   #0A0117;
 
font-size: 1.5rem;
 
 
line-height: 180%; /* 2.7rem */
}
.testimonial-detail b{
    
font-family: var(--monsterrat);
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
 
}
.quote{
    width: 4.5rem;
height: 4.5rem;
}
.chev{
    transform: rotate(270deg);
}
 