.hero-section {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
}

.hero-intro {
    max-width: 20rem;
}

.hero-intro h6 {
    font-weight: 600;
    font-size: .8rem;
}

.hero-intro h2 {}

.hero-intro p {}

.hero-image {
    position: relative;
    border: .6rem solid white;
   width: 21rem;
     height: 34.813rem;
    background: black;
    border-top-left-radius: 62.5rem 62.5rem;
    border-top-right-radius: 62.5rem 62.5rem;
}

.hero-image .hero-img {
    position: absolute;
    width: 21.75rem;
    height: 34.8125rem;
    top: 4.125rem;
    left: 2.25rem;
}