@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #fff;
  --secondary: #93CEAA;
  --tertiary: #8B4513;
  --oleoScript: "Oleo Script", system-ui;
  --workSans: "Work Sans", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--primary);
}
.main{
  padding: 1rem 5rem;
  height: 100vh;
  background-color: var(--secondary);
}
p,h6{
  font-family: var(--workSans);
}

.btn{
  padding:  .8rem 1.3rem;
  border-radius: .4rem;
  transition: all .2s linear;
}
.btn:hover{
  cursor: pointer;
  opacity: .8;
}
.btn-fill{
  background-color: var(--tertiary);
  color:var(--primary);
  outline:none;
  border: none;
}
.btn-outline{
  background-color: var(--primary);
  color: var(--tertiary);
  border: .1px solid var(--tertiary);
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h6{
  color: var(--tertiary); 
  font-size: 0.875rem;
}
.heading h3{
  font-size: 2.625rem;
  font-family: var(--montserrat);
  font-weight: 500;
  line-height: 3.413rem;
}
